.menuItem {
    text-decoration: none !important;
    font-weight: bold;
    color: white;
    text-shadow: var(--contrast-color) .5px .2px;
}

.menuItem:hover, .menuItem:active {
    color: gold !important;
} 

.activeItem {
    color: gold !important;
    text-shadow: black .2px .2px;
}